@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

body {
    background-color: rgb(69, 51, 103);
    color: white;
    font-family: 'Lato', sans-serif;
}

#nav-brand {
    color: white;
    cursor: pointer;
    font-family: 'Bruno Ace', cursive;
}

#nav-img {
    max-height: 50px;
    max-width: 100px;
}

.navbar-nav .nav-item:hover .nav-link {
    font-size: 1.3em !important;
    font-weight: 400 !important;
}