@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

body {
    background-color: rgb(69, 51, 103);
    color: white;
    font-family: 'Lato', sans-serif;
}

#nav-brand {
    color: white;
    cursor: pointer;
    font-family: 'Bruno Ace', cursive;
}

#nav-img,
#home-img-one {
    max-height: 50px;
    max-width: 100px;
}

.navbar-nav .nav-item:hover .nav-link {
    font-size: 1.3em !important;
    font-weight: 400 !important;
}

#home-logo {
    font-family: 'Bruno Ace', cursive;
}

#home-img-two {
    border-radius: 43% 57% 71% 29% / 40% 46% 54% 60%;
    max-height: 250px;
    max-width: auto;
}

#home-link,
#records-list-search,
#records-list-reset,
#record-detail-link,
#record-create-link,
#record-update-link,
#record-delete-link {
    background-color: rgb(252 198 170);
    color: rgb(69, 51, 103);
}

#records-list-card,
#record-detail-card,
#record-delete-card {
    width: 85%;
}

#records-list-link {
    cursor: pointer;
    text-decoration: none;
}

#records-list-website,
#record-detail-website,
#records-list-caret,
#record-delete-website {
    color: rgb(69, 51, 103);
}

#records-list-btn {
    background-color: rgb(252 198 170);
    border-color: rgb(252 198 170);
    border-radius: 100%;
    color: rgb(69, 51, 103);
    height: 4rem;
    width: 4rem;
}

#record-create-submit {
    background-color: rgb(252 198 170);
    border-color: rgb(252 198 170);
    color: rgb(69, 51, 103);
}

.passwordGenerate,
.passwordToggle {
    cursor: pointer;
    transition: all;
}

.passwordGenerate:hover,
.passwordToggle:hover {
    font-size: 1em;
    font-weight: 400;
}