@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

body {
    background-color: rgb(69, 51, 103);
    color: white;
    font-family: 'Lato', sans-serif;
}

#nav-key,
#home-key {
    max-height: 50px;
    max-width: 100px;
}

#nav-brand {
    color: white;
    cursor: pointer;
    font-family: 'Bruno Ace', cursive;
}

.navbar-nav .nav-item:hover .nav-link {
    font-size: 1.3em !important;
    font-weight: 400 !important;
}

#home-logo {
    font-family: 'Bruno Ace', cursive;
}

#home-key-master {
    border-radius: 43% 57% 71% 29% / 40% 46% 54% 60%;
    max-height: 250px;
    max-width: auto;
}

#home-link,
#signup-link,
#records-list-link,
#record-detail-link,
#record-create-link,
#record-update-link,
#record-delete-link {
    background-color: rgb(252 198 170);
    border-color: rgb(252 198 170);
    color: rgb(69, 51, 103);
    cursor: pointer;
    text-decoration: none;
}

#signup-heading,
#signup-text,
#login-heading,
#login-text,
#records-list-website,
#records-list-caret,
#record-detail-website,
#record-delete-website,
#passwordGenerate,
#passwordToggle,
label {
    color: rgb(69, 51, 103);
}

#records-list-btn {
    background-color: rgb(252 198 170);
    border-color: rgb(252 198 170);
    border-radius: 100%;
    color: rgb(69, 51, 103);
    height: 4rem;
    width: 4rem;
}

#signup-card,
#login-card,
#records-list-card,
#record-detail-card,
#record-delete-card {
    width: 85%;
}

#login-submit,
#record-create-submit {
    background-color: rgb(252 198 170);
    border-color: rgb(252 198 170);
    color: rgb(69, 51, 103);
}

#passwordGenerate,
#passwordToggle {
    cursor: pointer;
    transition: all;
}

#passwordGenerate:hover,
#passwordToggle:hover {
    font-size: 1em;
    font-weight: 400;
}